
/* the responsive part */
@media (min-width: 320px) {

  .name,
  .main-nav {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    }
  h2 {
    

  }
    .pics {
        width: 80vw;
    }

    
}
@media (min-width: 768px) {
    
}

@media (min-width: 1024px) {
    
}