
/* the responsive part */
@media (min-width: 320px) {

  .name,
  .main-nav,
  h2,
  h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
    
    }
  
    .pics {
        width: 80vw;
    }
  ul {
    list-style: none;
  }

    
}
@media (min-width: 768px) {
    
}

@media (min-width: 1024px) {
    
}